<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<!-- resultType을 alias 처리하기 위해서는 src/main/resources/mybatis-config.xml에서 설정하기 -->
	<select id="memberList" resultType="memberDto">
		select * from member
		order by name
	</select>
	<insert id="insertMember">
		insert into member(userid, passwd, name, email) values
		(#{userid}, #{passwd}, #{name}, #{email})
	</insert>
	<select id="viewMember" resultType="memberDto">
		select * from member where userid=#{userid}
	</select>
</mapper>
